<!--Lighthouse Labs-->
<!--Week 3, Day 1-->
<!--TinyApp-->
<!--Anil Patel-->




<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if(username){ %>
      <form id='logout' action='/logout' method='post' accept-charset='UTF-8'> <!--login path, login for username-->
        <fieldset >
        <!-- <input type='text' name='username' value=''/><%= username %> -->
        <span>Logged In As: <%= username %></span>
        <button type="logout" class="btn btn-danger">Logout</button>
      </fieldset>
      </form>
    <% } else { %>  
      <form id='login' action='/login' method='post' accept-charset='UTF-8'> <!--login path, login for username-->
        <fieldset >
        <input type='text' name='username' value=''/><%= username %> <!--pass in username to all views to display next to form-->
        <button type="submit" class="btn btn-primary">Login</button>
        </fieldset>
      </form>
    <% } %>
  </nav>
</header>
