<!--Lighthouse Labs-->
<!--Week 3, Day 3-->
<!--TinyApp: User Registration Form-->
<!--Anil Patel-->

<%- include('partials/_head.ejs') %>

	<body>
		<h1>Login</h1>
		<form action="/register" method="POST">
			<input type="email" name="email" placeholder="Type your email">
			<input type="password" name="password" placeholder="Type your password">
      <button type="Submit">Log in</button>
      <button></button> class="btn btn-primary" Edit</button> <!---->
		</form>
	</body>

	</html>